@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* div {
  outline: 1px solid black;
} */

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #ffdce6;
  font-family: Century Gothic Regular;
  line-height: 135%;
  display: flex;
  flex-direction: column;
}

/* =============ВЫДЕЛЕНИЕ============= */
::selection {
  background: rgb(214, 207, 207);
  color: #333;
}
/* =============ШАПОЧКА============= */
header {
  width: 98%;
  padding: 1%;
  min-width: 150px;
  font-family: Century Gothic Regular;
  background: #a03956;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Шапка блоки */
header #HeadMenu1 {
  width: 36.5%;
  display: flex;
  justify-content: space-between;
}
header #HeadMenu2 {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 36.5%;
}
#empty {
  width: 24%;
}
/* Лого блок */
header #LogoMen {
  width: 27%;
}
/* Ссылки шапки */
#HeadMenu1 a,
#HeadMenu2 a {
  font-size: 160%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#LogoMenu a {
  font-size: 350%;
  vertical-align: middle;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#HeadMenu1 a:hover,
#HeadMenu2 a:hover {
  color: #ffdce6;
  text-shadow: rgb(83, 83, 83) 0 0 3px;
  text-decoration: none;
  transition: all.4s ease;
}
/* Ссылки шапки фото для профиля */
.user:before {
  float: left;
  content: "";
  margin-right: 5px;
  background-image: url(user.png);
  height: 25px;
  width: 25px;
}
.user {
  line-height: 25px;
}
.user:hover:before {
  transition: all.4s ease;
  background-image: url(user1.png);
}
/* =============ПОДВАЛЬЧИК============= */
footer {
  width: 98%;
  padding: 1%;
  margin-top: 10px;
  min-width: 100px;
  font-family: Century Gothic Regular;
  background: #a03956;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  height: 25px;
}

#page-wrap {
  flex-grow: 1;
}
/* блоки подвала Лого */
footer #FootLogo {
  text-align: center;
  font-weight: bold;
  width: 15%;
}
#FootLogo a {
  font-size: 2em;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* блоки подвала Контент */
footer #FootContent {
  width: 55%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#FootContent a {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#FootContent a:hover {
  color: #e6d9d9;
  text-shadow: rgb(83, 83, 83) 0 0 3px;
  text-decoration: none;
  transition: all.4s ease;
}
/* блоки подвала Сети */
footer #FootSites {
  text-align: center;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
#FootSites img {
  width: 30%;
}

/* =============НАПОЛНЕНИЕ============= */

/* ЕДИНЫЙ ФОРМАТ ТЕКСТА НА СТРАНИЦЕ */
.Form {
  color: black;
  max-width: 600px;
  font-size: 120%;
  text-align: center;
  padding: 10px;
}

/* Блок 2 акции*/
#Text2,
#Text2 a {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  font-size: 110%;
  width: 98%;
  padding: 1%;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Блок 5 О нас */
#block5 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;

}

#Map{
width: 110%;
margin-top: 2px;
margin-right: -5%;
}

#ListAbout {
  text-align: left;
  color: rgb(0, 0, 0);
  line-height: 100%;
  font-size: 110%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center; */

}
#ListAbout h1{
    font-size: 1.6em;
    color: black;
    text-align: left;
    margin-top: 2%;
    margin-bottom: -1.5%;
}
#ListAbout p{
    font-size: 1.1em;
    text-align: left;
    line-height: 130%;
    margin-right: 15%;
    margin-top: 1%;
    
    color: rgb(0, 0, 0);
}
#ListAbout #title1{
margin-top: 2px;
}
.Desc{
    width: 40%;
}
.textblock{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}